<h1>Farmacias Populares de Todo Brasil</h1>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    
  <a class="navbar-brand" href="#">Farmacias</a><br>
    
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="<%= root_path %>">Home </a>
      <a class="nav-item nav-link" href="<%= cities_path %>">Cidades</a>
      <a class="nav-item nav-link" href="<%= states_path %>">Estados</a>
      <a class="nav-item nav-link" href="<%= pharmacies_path %>">Farmacias</a>
      
    </div>
  </div>
</nav>